.home{
    text-align: center;
    height: 500px;
    padding-top: 5%;
    box-sizing: border-box;
    color: #FFF;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

.home a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    background-color: #f2d900;
    padding: 5px;
    font-weight: 700;
}

.home a:hover{
    color: #FFF;
    font-weight: 700;
}

.home h2{
    margin-bottom: 100px;
}

.home h1{
    font-family: Star Wars;
    font-size: 60px;
    letter-spacing: 3px;
}


@media screen and (max-width: 700px) {
   .home{
       width: 100%;
       padding-left: 5px;
       padding-right: 5px;
       padding-bottom: 10px;
   }

   .home h1{
       font-size: 40px;
   }
}
