.movieswrapper{
    margin: 0 auto;
    background-color: rgba(0,0,0,0.6);
    width: 70%;
    padding: 1%;
    padding-right: 2.5%;
    padding-bottom: 50px;
}

h1{
    text-align: center;
    color: #FFF;
    font-family: Star Wars;
    letter-spacing: 3px;
    font-size: 40px;
}

h4{
    display: inline;
    color: #FFF;
}

.moviesimg {
   width: 100%;
    background-color: gray;
    
}

.movietitle, .characterlink{
    width: 100%;
    background-color: none;
    margin: 0;
   text-align: center;
    box-sizing: border-box;
    padding: 5px;
   margin-top: 5px;
}

.movietitle h3{
    display: inline;
    color: #FFF;
    font-family: sans-serif;
    vertical-align: top;
  text-align: center;
  font-size: 16px;
}

.movietitle a{
    text-decoration: none;
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
}

.movietitle a:hover{
    color: #f2d900;
}

.characterlink{
    background: #f2d900;
    padding: 5px;
    margin-top: 5px;
}

.characterlink h3{
    display: inline;
}

.link a{
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    text-align: center;
}

.link a:hover{
    color: white;
}

.movie{
    margin-left: 2%;
    float: left;
    margin-bottom: 10px;
    width: 23%;

}

@media screen and (max-width: 700px) {
    .movieswrapper{
        width: 100%;
    }

    .movie{
        width: 98%;
    }
}